/* 공통 스타일 */
.active-nav-link {
    background-color: rgb(55, 65, 81);
}

/* 스크롤바 스타일링 */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}